@import url('./style.css');


.wrapper{
    padding: 20px;
}


/*########## LEFT BAR ############*/

.left-bar {
    width: var(--left-bar-width);
    background-color: var(--bs-card);
    color: var(--bs-text);
    padding: 20px 0;
    border-right: 1px solid var(--bs-border);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
    padding: 0 0 30px 25px;
    color: var(--bs-primary);
}
.logo strong{
    color: var(--bs-text);
}

.main-menu{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu li a {
    display: flex;
    padding: 15px 25px;
    text-decoration: none;
    color: #dadada;
    transition: background-color 0.2s;
}

.main-menu li a:hover{
    background-color: #0099b84b;
    border-left: 4px solid var(--bs-primary);
    padding-left: 21px;
}

.active-link{
    background-color: #0099b84b;
    border-left: 4px solid var(--bs-primary);
    padding-left: 21px;
}

.main-menu li i {
    margin-right: 10px;
}

.add_user{
    background: #0099b84b;
    margin: 0 20px 0 20px;
}
.logout{
    color: var(--bs-text-red);
    margin: 0 20px 0 20px;
}

/*########## TOP BAR ############*/

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 1px solid var(--bs-border);
    background-color: var(--bs-card);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.search-box {
    display: flex;
    align-items: center;
    background: var(--bs-bg);
    border: 1px solid var(--bs-border);
    border-radius: 20px;
    padding: 0 10px;
}
.search-box .bi-search:hover{
    cursor: pointer;
    color: var(--bs-text-muted);
}


.search-box input {
    border: none;
    background: var(--bs-bg);
    padding: 11px 5px;
    margin-left: 10px;
    width: 300px;
    color: var(--bs-text);
}

.user-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.quick-action-btn {
    padding: 8px 20px;
}

.notification-icon {
    color: var(--bs-secondary);
    border: 1px solid var(--bs-text-muted);
    padding: 10px;
    border-radius: 50%;
}

.user-avatar {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--bs-primary);
}

/*########## DASHBOARD BODY ##########*/

.kpi-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    background-color: var(--bs-card);
    padding: 20px;
    border-radius: 5px;
    border: 1px solid var(--bs-border);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease-in-out, background 0.5s ease-in-out;
}

.kpi-card {
    display: flex;
    flex-direction: column;
}
.kpi-card:hover{
    transform: scale(1.04);
}

.card-title {
    font-size: 0.9em;
    color: var(--bs-secondary);
    margin-bottom: 5px;
}

.kpi-value {
    font-size: 2em;
    font-weight: bold;
    color: var(--bs-text);
}

.kpi-trend {
    font-size: 0.8em;
    color: var(--bs-text-green); 
    margin-top: 10px;
}

.dashboard-visuals {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-bottom: 30px;
}

.chart-card h2{
    margin-bottom: 1em;
}

.chart-placeholder {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bs-card);
    color: var(--bs-secondary);
    border-radius: 5px;
}

.task-list {
    list-style: none;
    padding: 0;
}
.task-list li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.dashboard-critical-list {
    margin-bottom: 30px;
}

.dashboard-critical-list h2{
    margin-bottom: 15px;
}
.dashboard-critical-list p{
    color: var(--bs-text-muted);
}


/*###########################*\
        OPPORTUNITY
/*############################*/

.form-select {
    padding: 8px 12px;
    border: 1px solid var(--bs-border);
    border-radius: 5px;
    background-color: var(--medium-bg);
    color: var(--bs-text);
}

/* En tête de la page  */

.pipeline-header-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px 0;
}

.filters {
    display: flex;
    gap: 15px;
}

.pipeline-column {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 15px;
}

.column-title {
    font-size: 1.2em;
    font-weight: 700;
    color: var(--secondary-color);
    margin-top: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--bs-border);
    padding-bottom: 10px;
}

.column-title .count {
    color: var(--primary-color);
    font-weight: 500;
    margin-left: 5px;
}

.column-summary {
    font-size: 1em;
    font-weight: 600;
    color: var(--bs-text);
    margin-bottom: 20px;
}
.column-summary strong{
    color:var(--bs-text-green);
}

/* Opportunity card */
.opportunity-card {
    flex-grow: 1;
    background-color: var(--bs-card);
    padding: 18px;
    border-radius: 5px;
    border: 1px solid var(--bs-border); 
    margin-bottom: 15px;
    cursor: grab; 
    transition: all 0.2s ease-in-out;
}

.opportunity-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.315);
}


.deal-name {
    color: var(--secondary-color); 
    font-weight: 600;
    margin-bottom: 10px;
    text-decoration: none;
    display: block;
}

.deal-value {
    font-size: 1.6em;
    color: var(--bs-text-green);
    font-weight: bold;
    margin-bottom: 15px;
}

.deal-account, .deal-date {
    font-size: 0.85em;
    color: var(--bs-text-muted);
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}
.deal-account i, .deal-date i {
    margin-right: 8px;
    color: var(--bs-text);
}

.activity-warning {
    color: #FC8181;
    font-size: 0.85em;
    font-weight: 500;
    margin-top: 10px;
    display: block;
}


/*###########################*\
       END OPPORTUNITY
/*############################*/



/*########################*\
        PROSPECT
/*########################*/

.prospect-wrapper .list-header-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.prospect-wrapper .search-controls {
    display: flex;
    gap: 10px;
}

.prospect-wrapper .search-input {
    border-radius: 5px;
}

.prospect-wrapper .table-container {
    overflow-x: auto;
    border-radius: 5px;
}

.prospects-table th i.bi-sort-alpha-down {
    margin-left: 5px;
    font-size: 0.8em;
    color: var(--bs-text-muted);
}

.col-actions {
    display: flex;
    gap: 10px;
}


/*#########################*\
        END PROSPECT
/*##########################*/



/*#########################*\
        PRODUCTS
/*##########################*/

.products-wrapper .search-input {
    border-radius: 5px;
}

.list-header-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); 
    gap: 30px;
}

.product-card {
    background: var(--bs-card);
    border-radius: 5px;
    box-shadow: var(--shadow);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    border: 1px solid var(--bs-border);
    cursor: pointer;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: var(--bs-shadow-elevated);
}

.product-image-placeholder {
    height: 180px;
    background: var(--bs-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    color: var(--primary-color);
    border-bottom: 1px solid var(--bs-border);
}

.product-info {
    padding: 20px;
}

.product-name {
    font-size: 1.5em;
    color: var(--bs-text);
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 5px;
}

.product-price {
    font-size: 1.2em;
    color: #48E06A;
    font-weight: bold;
    margin-bottom: 15px;
}

.product-description {
    font-size: 0.9em;
    color: var(--bs-text-muted);
    margin-bottom: 15px;
    height: 40px;
    overflow: hidden;
}

.product-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--bs-border);
    padding-top: 15px;
}

.status-badge {
    font-size: 0.8em;
    padding: 5px 10px;
    border-radius: 4px;
}

.status-active {
    background-color: #006f851c;
    color: var(--bs-primary);
}

.status-archive {
    background-color: #fc81811c;
    color: var(--bs-text-red);
}

.product-actions a {
    font-size: 1.2em;
    margin-left: 10px;
    transition: color 0.2s;
}

/*#########################*\
        END PRODUCTS
/*##########################*/



/*#########################*\
        ACCOUNT
/*##########################*/

.kpi-grid {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.kpi-card {
    flex: 1;
    background-color: var(--bs-card);
    border-radius: 5;
    box-shadow: var(--shadow);
    padding: 25px;
    border: 1px solid var(--bs-border);
}

.kpi-title {
    font-size: 0.9em;
    color: var(--bs-text);
    margin-bottom: 10px;
}

.kpi-value {
    font-size: 2em;
    font-weight: bold;
    color: var(--bs-text);
}

.kpi-card.risk .kpi-value {
    color: var(--bs-text-red);
}

.kpi-trend {
    font-size: 0.8em;
    color: var(--bs-text-green);
    margin-top: 10px;
}

.list-header-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.table-container {
    border-radius: 5px;
    box-shadow: var(--shadow);
    overflow: hidden;
}

/*#########################*\
        END ACCOUNT
/*##########################*/



/*#########################*\
        ACTIVITY
/*##########################*/

.activity-type-icon {
    font-size: 1em;
    margin-right: 5px;
}

.col-type{text-wrap: nowrap;}
.type-call { color: var(--call-color); }
.type-task { color: var(--task-color); }
.type-email { color: var(--email-color); }

.status-badge {
    font-size: 0.8em;
    padding: 5px 10px;
    border-radius: 4px;
    text-wrap: nowrap;
}
.status-completed {
    background-color: rgba(72, 224, 106, 0.2); 
    color: var(--call-color);
}
.status-pending {
    background-color: rgba(246, 173, 85, 0.2); 
    color: var(--task-color);
}

/* Actions */
.col-actions {
    text-align: center;
}

/*#########################*\
        END ACTIVITY
/*##########################*/


/*######### DELETE POPUP STYLE #########*/

.popup-layout {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-layout__wrapper {
    background-color: var(--bs-card);
    border-radius: 8px;
    padding: 15px;
    width: 90%;
    max-width: 400px;
    border: 1px solid var(--bs-border);
    color: var(--bs-text);
    animation: fadeIn 0.3s ease-out;
}

/* Animation simple */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

.popup-layout__wrapper .message {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 20px;
}

.popup-layout__wrapper .message i {
    font-size: 3em;
    color: var(--bs-text-red);
}

.popup-layout__wrapper .message h2 {
    font-weight: 600;
    font-size: 1.2em;
    color: var(--bs-text);
    margin: 0;
}

.popup-layout__wrapper .message p {
    font-size: 0.9em;
    color: var(--bs-text-muted);
    margin: 5px 0 0 0;
}

.popup-layout__wrapper .btns {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.popup-layout__wrapper .btns button,
.popup-layout__wrapper .btns a {
    padding: 10px 18px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    min-width: 100px;
    font-size: 0.95em;
}

/* Bouton "Annuler" */
.popup-layout__wrapper .btns a {
    background: inherit;
    border: 1px solid var(--bs-border);
    color: var(--bs-text);
}
.popup-layout__wrapper .btns a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: var(--bs-text);
}

.popup-layout__wrapper .btns button {
    width: 100%;
    background-color: var(--bs-text-red);
    border: none;
    color: var(--bs-text);
}
.popup-layout__wrapper .btns button:hover {
    background-color: var(--bs-text-red-hover);
}

/*######### END DELETE POPUP STYLE #########*/