
*{
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}


:root {
    --bs-primary: #0b8da7;
    --bs-primary-hover: #075c6d;
    --bs-bg: #151618;
    --bs-card: #181a1b;
    --bs-text: #ececec;
    --bs-text-muted: #9b9b9b;
    --bs-text-green: #36b852;
    --bs-text-green-hover: #14792a;
    --bs-text-red: #d11f00;
    --bs-text-red-hover: #991700;
    --bs-border: #6161613a;
    

    --shadow: 0 8px 16px rgba(0, 0, 0, 0.103);
    --bs-shadow-elevated: 0 12px 20px rgba(0, 0, 0, 0.151);
    --border-radius: 5px;

    --left-bar-width: 280px;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: var(--bs-bg);
    color: var(--bs-text);
}

.btn{
    border-radius: 5px;
    font-weight: 800;
    font-size: 17px;
    padding: 10px 20px;
    border: none;
    color: var(--bs-text);
    background-color: var(--bs-primary);
    transition: color 0.2s;
    cursor: pointer;
}
.btn:hover{
    background: var(--bs-primary-hover);
}

.btn-secondary {
    background-color: transparent;
    color: var(--bs-text);
    font-size: 15px;
    border-radius: 5px;
    padding: 10px 20px;
    border: 1px solid var(--bs-border);
}
.btn-secondary:hover{
    background: var(--bs-card);
}
.btns{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: none 20px auto 20px;
    text-align: center;
}

h1 {
    font-size: 1.8em;
    margin-bottom: 25px;
    color: var(--bs-text);
    font-weight: 700;
}

h2 {
    margin-bottom: 20px;
}


.app-container {
    display: flex;
    height: 100vh;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

/* Search input */
.search-input {
    padding: 8px 15px;
    border: 1px solid var(--bs-border);
    border-radius: 5px;
    background-color: var(--bs-bg);
    color: var(--bs-text);
    width: 300px;
}


/* Table style */

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background-color: var(--bs-card);
    border: 1px solid var(--bs-border);
}

table th {
    text-align: left;
    padding: 15px;
    background: var(--bs-bg) ;
    color: var(--primary-color);
    font-weight: 700;
    cursor: pointer;
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--bs-border);
}

table td {
    padding: 15px;
    border-bottom: 1px solid var(--bs-border);
    transition: background-color 0.3s;
}
table td a, table td{
    color: var(--bs-text-muted);
    text-decoration: none;
    font-size: 0.9em;
}

table tbody tr:hover {
    background-color: #1c1c1d;
}

table tbody tr:last-child td {
    border-bottom: none;
}


.edit{color: var(--bs-text-green);}
.delete{color: var(--bs-text-red)}

.edit:hover{color: var(--bs-text-green-hover);}
.delete:hover{color: var(--bs-text-red-hover);}

.action-btn {
    background: none;
    border: none;
    padding: 0;
}

.action-btn:hover{
    background: none;
}


/* message */
.success{
    color: var(--bs-text);
    background: var(--bs-text-green-hover);
    border: 1px solid var(--bs-border);
    border-radius: 2px;
    margin-bottom: 30px;
    padding: 20px 10px;
}

.field-error{
    color: var(--bs-text-red);
    font-size: 0.8em;
}



