{% extends "../base/base.html" %}


{% block side_bar %}
    {% include "../base/side_bar.html" %}
{% endblock %}

{% block header %}
    {% include "../base/header.html" %}
{% endblock %}


{% block content %}


<div class="wrapper">

    {% if messages %}
    {% for message in messages %}
        <div class="success">{{ message }}</div>
    {% endfor %}
    {% endif %}

    <h1><i class="bi bi-building"></i> Statistiques de comptes</h1>

    <div class="kpi-grid">
        
        <div class="kpi-card">
            <p class="kpi-title">Valeur Totale du Pipeline</p>
            <p class="kpi-value">225 000 €</p>
            <p class="kpi-trend"><i class="bi bi-graph-up"></i> +15% vs Mois Dernier</p>
        </div>
        
        <div class="kpi-card">
            <p class="kpi-title">Compte Total</p>
            <p class="kpi-value">12</p>
            <p class="kpi-trend"><i class="bi bi-check2-circle"></i> Objectif atteint à 80%</p>
        </div>
        
        <div class="kpi-card risk">
            <p class="kpi-title">Comptes Sans Activité</p>
            <p class="kpi-value">7</p>
            <p class="kpi-trend"><i class="bi bi-exclamation-triangle-fill"></i> N'ont pas été contactés depuis 30 jours</p>
        </div>
        
    </div>

    {% if admin_accounts %}

    <h2>Liste de tous les comptes</h2>

    <div class="table-container">
        <table class="accounts-table">
            <thead>
                <tr>
                    <th>Nom de l'Entreprise</th>
                    <th>Ville</th>
                    <th>Contact Principal</th>
                    <th>Téléphone</th>
                    <th>Statut</th>
                    <th>Actions</th>    
                </tr>
            </thead>
            <tbody>

                {% for account in admin_accounts %}
                
                <tr>
                    <td class="col-name">{{ account.account_name }}</td>
                    <td>{{ account.address }}</td>
                    <td class="col-contact">
                        {% with first_prospect=account.prospect.all.0 %}
                            {% if first_prospect %}
                                {{ first_prospect.first_name }} {{ first_prospect.last_name }}
                            
                            {% else %}
                            Null
                            {% endif %}
                        {% endwith %}
                    </td>
                    <td class="col-phone">{{ account.account_phone_number }}</td>
                    <td class="col-status">
                        <span style="color: var(--bs-text-green);">
                            <i class="bi bi-arrow-up-circle-fill"></i> {{ account.status }}
                        </span>
                    </td>
                    <td class="col-actions">
                        {% comment %} <a href="{% url 'account' %}" class="btn action-btn edit" title="Voir le compte"><i class="bi bi-eye"></i></a> {% endcomment %}
                        <a href="{% url 'account_update' account.id %}" class="btn action-btn edit" title="Voir Fiche"><i class="bi bi-box-arrow-in-up-right"></i></a>
                        <a href="{% url 'prospect_create' account.id %}" class="btn action-btn" title="Ajouter un prospect"><i class="bi bi-plus-circle"></i></a>
                    </td>
                </tr>

                {% endfor %}

            </tbody>
        </table>
    </div>

    {% else %}
        <div style="text-align: center;margin: 2em 0;color: var(--bs-text-muted);border: 1px solid var(--bs-border);border-radius: 5px; padding: 30px 10px;">
            <i class="bi bi-building" style="font-size: 50px;"></i>
            <p>Aucun compte disponible.</p> 
        </div>
    {% endif %}

</div>

{% endblock %}