{% extends "./base/base.html" %}


{% block side_bar %}
    {% include "./base/side_bar.html" %}
{% endblock %}

{% block header %}
    {% include "./base/header.html" %}
{% endblock %}


{% block content %}

<div class="form-container wrapper">
    <h2 class="form-title">Créer un Nouveau Compte</h2>
    
    <form method="post">

        {% csrf_token %}

        <div class="form-row">
            <div class="form-group">
                <label for="account-name">Nom de l'Entreprise <span style="color: red;">*</span></label>
                {{ form.account_name }}
                <div class="field_error">{{ form.account_name.erros }}</div>
            </div>
            <div class="form-group">
                <label for="account-website">Site Web</label>
                {{ form.web_site }}
                <div class="field_error">{{ form.web_site.errors }}</div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="account-phone">Téléphone Principal</label>
                {{ form.account_phone_number }}
                <div class="field_error">{{ form.account_phone_number.erros }}</div>
            </div>
            <div class="form-group">
                <label for="account-industry">Secteur d'Activité</label>
                {{ form.activity_sector }}
                <div class="field_error">{{ form.activity_sector.errors }}</div>
            </div>
        </div>
        
        <div class="form-row">
            <div class="form-group">
                <label for="account-city">Ville</label>
                {{ form.address }}
                <div class="field_error">{{ form.address.errors }}</div>
            </div>
            <div class="form-group">
                <label for="account-zip">Code Postal</label>
                {{ form.postal_code }}
                <div class="field_error">{{ form.postal_code.errors }}</div>
            </div>
        </div>
        
        <div class="form-group">
            <label for="account-notes">Notes / Description du Compte</label>
            {{ form.description }}
            <div>{{ form.description.errors }}</div>
        </div>

        <div class="form-actions">
            <button type="button" class="btn btn-secondary">Annuler</button>
            <button type="submit" class="btn btn-primary">Enregistrer le Compte</button>
        </div>
    </form>
</div>

{% endblock %}