{% extends "./base/base.html" %}


{% block side_bar %}
    {% include "./base/side_bar.html" %}
{% endblock %}

{% block header %}
    {% include "./base/header.html" %}
{% endblock %}


{% block content %}

<div class="form-container">
    <h2 class="form-title"><i class="bi bi-journal-plus"></i> Enregistrer une Activité</h2>
    
    <form method="post">

        {% csrf_token %}
        
        <div class="form-row">
            <div class="form-group">
                <label for="activity-title">Sujet de l'activité <span style="color: red;">*</span></label>
                {{ form.activity_type }}
                <div class="field-error">{{ form.activity_type.errors }}</div>
            </div>
        </div>

        <div class="type-specific-fields">
            <div class="form-row call-outcome-row">
                <div class="form-group">
                    <label for="call-outcome">Résultat de l'Appel <span style="color: red;">*</span></label>
                    {{ form.status }}
                    <div class="field-error">{{ form.status.errors }}</div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="activity-notes">Notes de l'activité</label>
            {{ form.description_note }}
            <div class="field-error">{{ form.description_note.errors }}</div>
        </div>

        <div class="form-actions">
            <button type="{% url 'activity' %}" class="btn btn-secondary">Annuler</button>
            <button type="submit" class="btn btn-primary">Ajouter l'Activité</button>
        </div>
    </form>
</div>

{% endblock %}
