{% extends "./base/base.html" %}


{% block side_bar %}
    {% include "./base/side_bar.html" %}
{% endblock %}

{% block header %}
    {% include "./base/header.html" %}
{% endblock %}


{% block content %}


<div class="activities-wrapper wrapper">
    <h1><i class="bi bi-calendar3"></i> Historique des activités</h1>

    {% if activities %}

    <header class="list-header-actions">
        
        <div class="search-controls">
            <input type="text" class="search-input" placeholder="Rechercher par description...">
            
            <select class="form-select">
                <option selected>Type : Tous</option>
                <option>Appel</option>
                <option>Tâche</option>
                <option>Email</option>
            </select>
            
            <select class="form-select">
                <option selected>Statut : À Faire</option>
                <option>Statut : Terminées</option>
            </select>
        </div>

        <div class="actions">
            <a href="{% url 'activity_create' %}" class="btn btn-primary new-activity-btn">
                <i class="bi bi-plus-lg"></i> Nouvelle Activité
            </a>
        </div>
    </header>

    <div class="table-container">
        <table class="activities-table">
            <thead>
                <tr>
                    <th>Date & Heure</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Lié à (Affaire/Contact)</th>
                    <th>Commercial</th>
                    <th>Statut</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                {% for activity in activities %}

                <tr>
                    <td>15/10/2025 à 10h00</td>
                    <td class="col-type">
                        <i class="bi bi-check2-square activity-type-icon type-task"></i> Tâche
                    </td>
                    <td>Préparer la proposition pour Alpha Corp.</td>
                    <td class="col-link"><a href="#">Alpha Corp Solutions</a></td>
                    <td>Jean Dupont</td>
                    <td><span class="status-badge status-pending">En Cours</span></td>
                    <td class="col-actions">
                        <button class="btn action-btn" title="Marquer Terminé"><i class="bi bi-check-circle"></i></button>
                    </td>
                </tr>

                {% endfor %}

            </tbody>
        </table>
    </div>

    {% else %}
        <div style="text-align: center;margin: 8em 0;color: var(--bs-text-muted);">
            <i class="bi bi-calendar3" style="font-size: 50px;"></i>
            <p>Aucune activitée disponible.</p>
        </div>
    {% endif %}
</div>

{% endblock %}