{% extends "./base/base.html" %}


{% block side_bar %}
    {% include "./base/side_bar.html" %}
{% endblock %}

{% block header %}
    {% include "./base/header.html" %}
{% endblock %}


{% block content %}


<div class="activities-wrapper wrapper">

    {% if messages %}
    {% for message in messages %}
        <div class="success">{{ message }}</div>
    {% endfor %}
    {% endif %}

    <h1><i class="bi bi-calendar3"></i> Historique des activités</h1>

    {% if activities %}

    <div class="table-container">
        <table class="activities-table">
            <thead>
                <tr>
                    <th>Date & Heure</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Prospect</th>
                    <th>Commercial</th>
                    <th>Statut</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                {% for activity in activities %}

                <tr>
                    <td>{{ activity.created_at }}</td>
                    <td class="col-type">
                        <i class="bi bi-check2-square activity-type-icon type-task"></i> Tâche
                    </td>
                    <td>
                        {% if activity.description_note %}
                        {{ activity.description_note }}
                        {% else %}
                        Null
                        {% endif %}
                    </td>
                    <td class="col-link"><a href="#">{{ activity.prospect.first_name }} {{ activity.prospect.last_name }}</a></td>
                    <td>Jean Dupont</td>
                    <td><span class="status-badge status-pending">{{ activity.status }}</span></td>
                    <td class="col-actions">
                        <a href="{% url 'activity_update' activity.id %}" class="btn action-btn edit" title="Modifer"><i class="bi bi-box-arrow-in-up-right"></i></a>
                        <a href="{% url 'activity_delete' activity.id %}" class="btn action-btn delete" title="Supprimer"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>

                {% endfor %}

            </tbody>
        </table>
    </div>

    {% else %}
        <div style="text-align: center;margin: 8em 0;color: var(--bs-text-muted);">
            <i class="bi bi-calendar3" style="font-size: 50px;"></i>
            <p>Aucune activitée disponible.</p>
        </div>
    {% endif %}
</div>

{% endblock %}