{% extends "./base/base.html" %}


{% block side_bar %}
    {% include "./base/side_bar.html" %}
{% endblock %}

{% block header %}
    {% include "./base/header.html" %}
{% endblock %}


{% block content %}

<section class="dashboard-body wrapper">
    
    {% if messages %}
    {% for message in messages %}
        <div class="success">{{ message }}</div>
    {% endfor %}
    {% endif %}

    <h1><i class="bi bi-grid-fill"></i>Dashboard</h1>
    
    <div class="kpi-cards">
        
        <div class="card kpi-card">
            <span class="card-title">Pipeline Actif</span>
            <span class="kpi-value">{{ total_opportunity.total_value }}</span>
            <span class="kpi-trend">↑ 12% vs Mois Dernier</span>
        </div>

        {% comment %} <div class="card kpi-card">
            <span class="card-title">Taux de Conversion</span>
            <span class="kpi-value">22%</span>
            <span class="kpi-trend">↓ 3% vs Objectif</span>
        </div> {% endcomment %}

        <div class="card kpi-card">
            <span class="card-title">Compte total</span>
            <span class="kpi-value">{{ total_account_data.total }}</span>
            <span class="kpi-trend">3 Urgentes Aujourd'hui</span>
        </div>
        
        <div class="card kpi-card">
            <span class="card-title">Total opportunités</span>
            <span class="kpi-value">{{ total_opportunity.total }}</span>
            <span class="kpi-trend">Objectif atteint à 70%</span>
        </div>

    </div>
    
    <div class="dashboard-visuals">
        
        <div class="card chart-card pipeline-chart-container">
            <h2>Activités</h2>
            <div class="chart-placeholder">
                <canvas id="pipelineChart"></canvas>
            </div>
        </div>

        <div class="card chart-card todo-list-container">
            <h2>Pipeline de Vente Actif</h2>
            <div class="chart-placeholder">
                <canvas id="activityChart"></canvas>
            </div>
        </div>

    </div>

    {% if accounts %}

    <div class="table-container">
        <h2>Comptes</h2>
        <table class="accounts-table">
            <thead>
                <tr>
                    <th>Nom de l'Entreprise</th>
                    <th>Ville</th>
                    <th>Contact Principal</th>
                    <th>Téléphone</th>
                    <th>Statut</th>
                    <th>Actions</th>    
                </tr>
            </thead>
            <tbody>

                {% for account in accounts %}

                <tr>
                    <td class="col-name">{{ account.account_name }}</td>
                    <td>{{ account.address }}</td>
                    <td class="col-contact">
                        {% for prospect in account.prospect.all %}
                        {{ prospect.first_name }} {{ prospect.last_name }}
                        {% empty %}
                        Null
                        {% endfor %}
                    </td>
                    <td class="col-phone">{{ account.account_phone_number }}</td>
                    <td class="col-status">
                        <span style="color: var(--bs-text-green);">
                            <i class="bi bi-arrow-up-circle-fill"></i> {{ account.status }}
                        </span>
                    </td>
                    <td class="col-actions">
                        <a href="{% url 'account_update' account.id %}" class="btn action-btn edit" title="Voir Fiche"><i class="bi bi-box-arrow-in-up-right"></i></a>
                        <a href="{% url 'prospect_create' account.id %}" class="btn action-btn" title="Ajouter un prospect"><i class="bi bi-plus-circle"></i></a>
                    </td>
                </tr>

                {% endfor %}

            </tbody>
        </table>
    </div>

    {% endif %}

    <script>
        const activityData = '{{ activity_data|safe }}';
        const parseActivityData = JSON.parse(activityData)

        console.log(parseActivityData)


        const DEFAULT_COLORS = [
            'rgba(255, 99, 132, 0.7)',
            'rgba(54, 162, 235, 0.7)',
            'rgba(255, 206, 86, 0.7)',
            'rgba(75, 192, 192, 0.7)'
        ]


        function chart(type, label_data, data, label='', canvasElement){

            if(canvasElement){
                const ctx = canvasElement.getContext('2d');

                new Chart(ctx, {
                    type: type,
                    data: {
                        labels: label_data,
                        datasets: [{
                            label: label,
                            data: data,
                            backgroundColor: (type === 'bar') ? DEFAULT_COLORS[1] : DEFAULT_COLORS,
                        }]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,

                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                })
            }
        }


        document.addEventListener('DOMContentLoaded', function() {

            const canvasElement = document.getElementById('pipelineChart');
            const canvasElement2 = document.getElementById('activityChart');

            if(canvasElement){
                chart(
                    'bar',
                    ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Séptembre', 'Octobre', 'Novembre', 'Décembre'],
                    parseActivityData,
                    'Activités ',
                    canvasElement
                )

            }

            if(canvasElement2){
                chart(
                    'doughnut',
                    ['Qualification', 'Proposition', 'Négociation', 'Gagnée'],
                    [12000, 19000, 3000, 5000],
                    'Valeur du Pipeline (€)',
                    canvasElement2
                )
            }

        });
    </script>

</section>

{% endblock %}
