{% extends "./base/base.html" %}


{% block side_bar %}
    {% include "./base/side_bar.html" %}
{% endblock %}

{% block header %}
    {% include "./base/header.html" %}
{% endblock %}


{% block content %}

<div class="opportunities-wrapper wrapper">

    {% if messages %}
    {% for message in messages %}
        <div class="success">{{ message }}</div>
    {% endfor %}
    {% endif %}

    <h1><i class="bi bi-cash-stack"></i> Opprotunités</h1>

    {% comment %} <header class="pipeline-header-actions">
        
        <div class="filters">
            <select class="form-select">
                <option selected>Statut : Ouvertes</option>
                <option>Statut : Gagnées</option>
                <option>Statut : Perdues</option>
            </select>
            
            <button class="btn btn-secondary">
                <i class="bi bi-table"></i> Vue Liste
            </button>
        </div>
        
        <div class="actions">
            <button class="btn btn-primary new-opportunity-btn">
                <i class="bi bi-plus-circle-fill"></i> Nouvelle Opportunité
            </button>
        </div>
    </header> {% endcomment %}

    {% if opportunities %}

    <div class="pipeline-container">

        {% for opportunity in opportunities %}
        
        <div class="pipeline-column" data-stage-id="1">
            <div class="opportunity-card qualification" data-opportunity-id="101">
                <a href="#" class="deal-name">{{ opportunity.deal_name }}</a>
                <p class="deal-value">{{ opportunity.estimate_value}} $</p>
                <p class="deal-account"><i class="bi bi-building"></i> {{ opportunity.account.account_name }}</p>
                <p class="deal-date" style="margin-bottom: 15px;"><i class="bi bi-calendar-check"></i> Clôture : {{ opportunity.cloture_date }}</p>
                {% if opportunity.pipeline.is_closed %}
                    <span class="activity-warning">
                        <i class="bi bi-exclamation-triangle-fill"></i>
                        Opportunité échouée
                    </span>
                {% else %}
                    <span class="edit">
                        <i class="bi bi-load"></i>
                        En cour...
                    </span>
                {% endif %}
            </div>
        </div>

        {% endfor %}

    </div>

    {% else %}
        <div style="text-align: center;margin: 8em 0;color: var(--bs-text-muted);">
            <i class="bi bi-person-rolodex" style="font-size: 50px;"></i>
            <p>Aucune opportunité disponible.</p> 
        </div>
    {% endif %}
    
</div>

{% endblock %}