{% extends "./base/base.html" %}


{% block side_bar %}
    {% include "./base/side_bar.html" %}
{% endblock %}

{% block header %}
    {% include "./base/header.html" %}
{% endblock %}


{% block content %}

<div class="form-container">
    <h2 class="form-title"><i class="bi bi-person-plus-fill"></i> Ajouter une opportunité</h2>
    
    <form method="POST">
        {% csrf_token %}
        
        <div class="form-row">
            <div class="form-group">
                <label for="prospect-first-name">Nom d'affaire <span style="color: red;">*</span></label>
                {{ form.deal_name }}
                <div class="field-error">{{ form.deal_name.errors }}</div>
            </div>
            <div class="form-group">
                <label for="prospect-last-name">Valeur estimée <span style="color: red;">*</span></label>
                {{ form.estimate_value }}
                <div style="field-error">{{ form.last_name.errors }}</div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="prospect-email">Brobabilité en pourcentage <span style="color: red;">*</span></label>
                {{ form.probability_purcent }}
                <div style="field-error">{{ form.probability_purcent.errors }}</div>
            </div>
            <div class="form-group">
                <label for="prospect-title">Date de clotûre</label>
                {{ form.cloture_date }}
                <div style="field-error">{{ form.cloture_date.errors }}</div>
            </div>
        </div>

        <div class="form-actions">
            <a href="{% url 'opportunity' %}" class="btn btn-secondary">Annuler</a>
            <button type="submit" class="btn btn-primary">Enregistrer le Prospect</button>
        </div>
    </form>
</div>

{% endblock %}