{% extends "./base/base.html" %}


{% block side_bar %}
    {% include "./base/side_bar.html" %}
{% endblock %}

{% block header %}
    {% include "./base/header.html" %}
{% endblock %}


{% block content %}

<div class="wrapper prospect-wrapper">

    {% if messages %}
    {% for message in messages %}
        <div class="success">{{ message }}</div>
    {% endfor %}
    {% endif %}

    <h1><i class="bi bi-person-rolodex"></i> Prospects</h1>

    {% if prospects %}

    <header class="list-header-actions">
        
        {% comment %} <div class="search-controls">
            <input type="text" class="search-input" placeholder="Rechercher par Nom ou Email...">
            <select class="form-select">
                <option selected>Filtre : Commercial</option>
                <option>Commercial : Moi</option>
            </select>
        </div> {% endcomment %}

        {% comment %} <div class="actions">
            <a href="{% url 'prospect' %}" class="btn btn-primary new-contact-btn">
                <i class="bi bi-person-plus-fill"></i> Nouveau Prospect
            </a>
        </div> {% endcomment %}
    </header>

    <div class="table-container">
        <table class="prospects-table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Poste</th>
                    <th>Compte</th>
                    <th>Téléphone</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                {% for prospect in prospects %}

                <tr>
                    <td class="col-name">{{ prospect.first_name }} {{ prospect.last_name }}</td>
                    <td class="col-title">{{ prospect.post_title }}</td>
                    <td><a href="#" style="color: var(--bs-text-green); ">{{ prospect.account.account_name }}</a></td>
                    <td class="col-phone"><a href="tel:+33123456789">{{ prospect.phone_number }}</a></td>
                    <td class="col-email"><a href="mailto:alice.m@alphacorp.com">{{ prospect.email }}</a></td>
                    <td class="col-actions dropdown-wrapper">
                        <i class="bi bi-three-dots dropdown-trigger" data-prospect-id={{ prospect.id }}></i>
                        <div class="dropdown">
                            <li><i class="bi bi-pencil-square"></i><a href="{% url 'prospect_update' prospect.id %}" class="action-btn">Met à jour un prospect</a></li>
                            <li><i class="bi bi-trash"></i><a href="{% url 'prospect_delete' prospect.id %}" class="action-btn">Supprimer un prospect</a></li>
                            <li><i class="bi bi-plus-circle"></i><a href="{% url 'opportunity_create' prospect.id %}" class="action-btn">Ajouter une opportunité</a></li>
                        </div>
                    </td>
                </tr>

                {% endfor %}
                
            </tbody>
        </table>
    </div>

    {% else %}
        <div style="text-align: center;margin: 8em 0;color: var(--bs-text-muted);">
            <i class="bi bi-person-rolodex" style="font-size: 50px;"></i>
            <p>Aucun prospect disponible pour le moment</p> 
        </div>
    {% endif %}
</div>


{% endblock %}