{% extends "./base/base.html" %}


{% block side_bar %}
    {% include "./base/side_bar.html" %}
{% endblock %}

{% block header %}
    {% include "./base/header.html" %}
{% endblock %}


{% block content %}


<div class="form-container">
    <h2 class="form-title"><i class="bi bi-person-plus-fill"></i> Ajouter un nouveau prospect</h2>
    
    <form method="POST">
        {% csrf_token %}
        
        <div class="form-row">
            <div class="form-group">
                <label for="prospect-first-name">Prénom <span style="color: red;">*</span></label>
                <input type="text" id="prospect-first-name" class="form-control" required placeholder="Ex: Alice">
            </div>
            <div class="form-group">
                <label for="prospect-last-name">Nom <span style="color: red;">*</span></label>
                <input type="text" id="prospect-last-name" class="form-control" required placeholder="Ex: Martin">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="prospect-title">Poste / Fonction</label>
                <input type="text" id="prospect-title" class="form-control" placeholder="Ex: Directrice des Achats">
            </div>
            <div class="form-group">
                <label for="prospect-email">Email Professionnel <span style="color: red;">*</span></label>
                <input type="email" id="prospect-email" class="form-control" required placeholder="Ex: alice.martin@compagnie.com">
            </div>
        </div>
        
        <div class="form-row">
            <div class="form-group">
                <label for="prospect-phone">Téléphone Direct</label>
                <input type="tel" id="prospect-phone" class="form-control" placeholder="Ex: +33 6 12 34 56 78">
            </div>
            {% comment %} <div class="form-group">
                <label for="prospect-account">Compte Lié</label>
                <select id="prospect-account" class="form-control">
                    <option value="">-- Rechercher une entreprise --</option>
                    <option value="AlphaCorp" selected>Alpha Corp Solutions</option>
                    <option value="BetaIT">Beta IT Services</option>
                    <option value="NewAccount">+ Créer Nouveau Compte...</option>
                </select>
            </div> {% endcomment %}
        </div>

        <div class="form-actions">
            <button type="button" class="btn btn-secondary">Annuler</button>
            <button type="submit" class="btn btn-primary">Enregistrer le Prospect</button>
        </div>
    </form>
</div>

{% endblock %}