{% load static %}

<header class="top-bar">
    <div class="search-box">
        <i class="bi bi-search"></i>
        <input type="text" placeholder="Recherche rapide">
    </div>
    
    <div class="user-info">
        <a href="{% url 'account_create' %}" class="quick-action-btn btn"><i class="bi bi-plus-circle-fill"></i> Ajouter</a>
        {% comment %} <i class="bi bi-bell-fill notification-icon"></i>
        <img src="{% static 'images/default_profil.jpg' %}" alt="Avatar" class="user-avatar"> {% endcomment %}
    </div>
</header>
