<aside class="left-bar">
    <div class="logo">Deal<strong>Flow</strong></div>
    <nav class="main-menu">
        <ul>
            <li class="active"><a href="#"><i class="bi bi-graph-up-arrow"></i> Dashboard</a></li>
            <li><a href="#"><i class="bi bi-cash-stack"></i> Opportunités</a></li>
            <li><a href="#"><i class="bi bi-person"></i> Prospects</a></li>
            <li><a href="#"><i class="bi bi-building"></i> Comptes</a></li>
            <li><a href="#"><i class="bi bi-check2-square"></i>Activités</a></li>
            <li><a href="#"><i class="bi bi-box"></i> Produits</a></li>
            <li><a href="#"><i class="bi bi-gear"></i> Paramètres</a></li>
        </ul>
    </nav>
</aside>