<aside class="left-bar">
    <div class="logo">Deal<strong>Flow</strong></div>
    <nav class="main-menu">
        <ul>
            <li><a href="{% url 'dashboard' %}" class="link"><i class="bi bi-graph-up-arrow"></i> Dashboard</a></li>
            <li><a href="{% url 'opportunity' %}" class="link"><i class="bi bi-cash-stack"></i> Opportunités</a></li>
            <li><a href="{% url 'prospect' %}" class="link"><i class="bi bi-person"></i> Prospects</a></li>
            <li><a href="{% url 'account' %}" class="link"><i class="bi bi-building"></i> Comptes</a></li>
            <li><a href="{% url 'activity' %}" class="link"><i class="bi bi-check2-square"></i>Activités</a></li>
            <li><a href="{% url 'product' %}" class="link"><i class="bi bi-box"></i> Produits</a></li>
            <li><a href="#" class="link"><i class="bi bi-gear"></i> Paramètres</a></li>
        </ul>
        <div class="btns">
            {% if user.is_superuser %}
            <a href="{% url 'create_user' %}" class="btn add_user">Ajouter un utilisateur</a>
            {% endif %}
            <a href="{% url 'logout' %}" class="logout btn-secondary btn " style="color: var(--bs-text-red)">Déconnexion</a>
        </div>
    </nav>
</aside>